
<div class="switcher-container bottom-indent">
    <div class="switcher clear-fix">
        <div class="switcher-btn connection selected">
            <div class="icon"></div>
        </div>
        <div class="switcher-btn setup disabled">
            <div class="icon"></div>
        </div>
        <div class="switcher-btn settings disabled">
            <div class="icon"></div>
        </div>
    </div>
</div>