<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <clear />
    <add name="tmresource" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8;AutoEnlist=false" providerName="MySql.Data.MySqlClient" />
    <add name="tmresourceTrans" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8;AutoEnlist=false" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <clear />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="languages" value="en" />
    <add key="maxFileSize" value="1048576" />
    <add key="resources.from-db" value="false" />
    <add key="analyticsFileUrl" value="" />
    <add key="termsFileUrl" value="https://help.onlyoffice.com/products/files/doceditor.aspx?fileid=4404722&amp;doc=L3ZQczhiWDYrTDNsQ0NFNXk5R1RlaWhySEdIcTk1YXI1YXh0dHhtSVd0bz0_IjQ0MDQ3MjIi0" />
    <add key="emailSender" value="smtp.email.test|587|sender@email.test|password|true" />
    <add key="supportEmail" value="server@onlyoffice.com" />
    <add key="sourceUrl" value="https://github.com/ONLYOFFICE/OneClickInstall" />
  </appSettings>
  <system.web>
    <customErrors mode="On" defaultRedirect="/">
      <error statusCode="404" redirect="404.htm" />
      <error statusCode="500" redirect="500.htm" />
    </customErrors>
    <compilation debug="false" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None" />
    <httpHandlers>
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <rewrite>
      <rules>
        <clear />
        <rule name="pages HTTP to HTTPS" enabled="false" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{URL}" appendQueryString="true" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="dotless" />
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" resourceType="File" preCondition="" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <dotless minifyCss="false" cache="false" web="false" />
  <log4net>
    <logger name="ASC">
      <appender-ref ref="File" />
      <level value="ALL" />
    </logger>
    <logger name="ASC.SQL" additivity="false">
      <appender-ref ref="Sql" />
      <level value="TRACE" />
    </logger>
    <appender name="File" type="log4net.Appender.RollingFileAppender">
      <file value="..\logs\OneClickInstallation.log" />
      <encoding value="utf-8" />
      <rollingStyle value="Date" />
      <datePattern value=".MM-dd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%thread] %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="Sql" type="log4net.Appender.RollingFileAppender">
      <file value="..\logs\OneClickInstallation.SQL.log" />
      <encoding value="utf-8" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="50MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate|%thread|%property{duration}|%message|%property{sql}|%property{sqlParams}%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>